<footer class="bg-dark text-white py-3 container-fluid">

    <!-- Redes sociales -->
    <div class="row">
        <div class="col-8 col-xl-3 d-flex justify-content-around mx-auto">
            <div>
                <a href="https://www.facebook.com/" target="_blank" class="text-verde icono">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/" target="_blank" class="text-verde icono">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div>
                <a href="https://web.whatsapp.com/" target="_blank" class="text-verde icono">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
            <div>
                <a href="https://mail.google.com/" target="_blank" class="text-verde icono">
                    <i class="far fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- HR -->
    <div class="row">
        <div class="col-10 col-lg-8 mx-auto">
            <hr class="bg-verde">
        </div>
    </div>

    <!-- Preguntas Frecuentes -->
    <div class="row">
        <div class="col text-center">
            <a [routerLink]="['faq']" style="text-decoration: none;" class="text-verde">Preguntas Frecuentes</a>
        </div>
    </div>

    <!-- Copyright -->
    <div class="row mt-3">
        <div class="col text-center text-verde">
            <i class="far fa-copyright"></i>
            ChambApp 2024
        </div>
    </div>

</footer>