<div class="container mt-5 pt-3 pt-lg-4" *ngIf="!loading else cargando">

    <!-- Titulo -->
    <div class="row">
        <div class="col">
            <h3>Mi Perfil</h3>
        </div>
    </div>

    <!-- Foto de perfil -->
    <div class="row mt-2">
        <div class="col-6 mx-auto text-center col-md-4">
            <div class="contenedor">
                <img class="rounded" [src]="userFirebase.photoURL" alt="profile_picture" />
            </div>
        </div>
    </div>

    <!-- Calificación del usuario -->
    <div class="row mt-2">
        <div class="col mx-auto text-center">
            <i class="fas fa-star text-verde calif" *ngFor="let i of calif"></i>
            <i class="far fa-star calif" *ngFor="let i of calif_aux"></i>
        </div>
    </div>

    <!-- Datos del usuario -->
    <div class="row mt-3">

        <!-- Lista del lado izquierdo -->
        <div class="col-5">
            <div class="list-group text-left" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="datosPersonalesm" data-toggle="list"
                    href="#datosPersonales" role="tab" aria-controls="datosPersonales">Datos Personales</a>
                <a class="list-group-item list-group-item-action" id="tagsm" data-toggle="list" href="#tags" role="tab"
                    aria-controls="tags">Tags</a>
                <a class="list-group-item list-group-item-action" id="pedidosRecientesm" data-toggle="list"
                    href="#pedidosRecientes" role="tab" aria-controls="pedidosRecientes">Pedidos Recientes</a>
                <a class="list-group-item list-group-item-action" id="favoritosm" data-toggle="list" href="#favoritos"
                    role="tab" aria-controls="favoritos">Favoritos</a>
                <a class="list-group-item list-group-item-action" id="reseñasm" data-toggle="list" href="#reseñas"
                    role="tab" aria-controls="reseñas">Reseñas</a>
                <a class="list-group-item list-group-item-action" id="pedidosGeneralm" data-toggle="list"
                    href="#pedidosGeneral" role="tab" aria-controls="pedidosGeneral">Pedidos General</a>
            </div>
        </div>

        <!-- Información de la lista -->
        <div class="col-7 px-0">
            <div class="tab-content mt-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="datosPersonales" role="tabpanel"
                    aria-labelledby="list-home-list">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary">
                            <strong>Nombre:</strong> {{userFirestore.nombre + ' ' + userFirestore.apellido}}
                        </li>
                        <li class="list-group-item list-group-item-secondary">
                            <strong>Usuario:</strong> {{userFirestore.username}}</li>
                        <li class="list-group-item list-group-item-secondary">
                            <strong>Estado:</strong> {{userFirestore.estado}}</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="tags" role="tabpanel" aria-labelledby="list-home-list">
                    jajaja
                </div>
                <div class="tab-pane fade" id="pedidosRecientes" role="tabpanel" aria-labelledby="list-home-list">
                    jajaja
                </div>
                <div class="tab-pane fade" id="favoritos" role="tabpanel" aria-labelledby="list-profile-list">
                    ...aaaaaaaaaa
                </div>
                <div class="tab-pane fade" id="reseñas" role="tabpanel" aria-labelledby="list-messages-list">
                    ..wwwwwwwwww.
                </div>
                <div class="tab-pane fade" id="pedidosGeneral" role="tabpanel" aria-labelledby="list-settings-list">
                    ..eeeeeeee.
                </div>
            </div>
        </div>
    </div>

    <!-- Botón de editar perfil -->
    <div class="col text-center mt-3">
        <button type="button" class="btn btn-success center-block" (click)="navigate('edit-client')">Editar
            Perfil</button>
    </div>

</div>

<!-- Spinner de cuando carga la pantalla -->
<ng-template #cargando>
    <app-loading></app-loading>
</ng-template>