<div class="container mt-5 pt-3 pt-lg-4">
    <!-- Logo -->
    <div class="animate__animated animate__wobble">
        <div class="row ">
            <div class="col-12 px-5">
                <img style="max-width: 85%;" src="../../../assets/img/logo_large.png" alt="Logo de ChambApp"
                    class="img-fluid mx-auto">
            </div>
        </div>
        <h1 class="text-center">FAQ</h1>
    </div>

    <hr>

    <div id="accordion">

        <!--Que es?-->
        <div class="card text-white bg-dark">

            <div class="card-header text-center m-3" id="headingOne">
                <img class="img-fluid float-left" style="max-width: 13%;"
                    src="../../../assets/img/logo_small_icon_only_inverted.ico" alt="Candado">
                <h4 class="mb-0">
                    <button class="btn btn-dark btn-lg" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        ¿Qué es ChambApp?
                    </button>
                </h4>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    ChambApp es una plataforma en donde podras encontrar personas que puedan ayudarte con sus servicio a
                    resolver esos problemas inesperados que puedas enfrentarte en tu dia a dia, de una manera facil,
                    rapida y segura.
                </div>
            </div>

        </div>

        <!--Como Funciona-->
        <div class="card text-white show bg-dark">

            <div class="card-header text-center  m-3" id="headingTwo">
                <img class="img-fluid float-left" style="max-width: 13%;" src="../../../assets/img/faq_tool.png"
                    alt="Candado">
                <h4 class="mb-0">
                    <button class="btn btn-dark btn-lg" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                        ¿Cómo funciona?
                    </button>
                </h4>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Es muy Facil! Solo tienes que registrarte, buscar el servicio que necesitas, seleccionar un
                    profesionista, agendar una fecha disponible y esperar a la confirmacion del servicio.
                </div>
            </div>

        </div>

        <!--Cual segura es la plataforma-->
        <div class="card text-white show bg-dark">

            <div class="card-header text-center  m-3" id="headingThree">
                <img class="img-fluid float-left" style="max-width: 13%;" src="../../../assets/img/faq_sec.png"
                    alt="Candado">
                <h4 class="mb-0">
                    <button class="btn btn-dark btn-lg" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="true" aria-controls="collapseThree">
                        ¿Qué hace a ChambApp seguro?
                    </button>
                </h4>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Todos nuestros profesionistas estan autenticados por nosotros y ustedes la comunidad, verificamos
                    sus datos personales y ademas ChambApp cuenta con un sistema de calificaciones que los usuarios dan
                    a los trabajadores así como una breve reseña del trabajo realizado.
                </div>
            </div>

        </div>

    </div>

</div>