<div class="container mt-5 pt-3 pt-lg-4" *ngIf="!loading else cargando">

    <!-- Titulo (header) -->
    <div class="row">
        <div class="col">
            <h3>Crear una cuenta</h3>
        </div>
    </div>

    <!-- Contenido -->
    <div class="row">
        <div class="col">
            <p>Crea una cuenta para tener acceso a miles de negocios cerca de ti
                o inicia sesión <a (click)="navigate('login')" class="text-verde pointer">aquí</a>
            </p>
            <p>Tus datos son privados y no son compartidos con nadie. Es seguro llenar
                la información solicitada.
            </p>
        </div>
    </div>

    <hr>

    <!-- Formulario -->
    <form [formGroup]="signUpForm" (ngSubmit)="submitSignUpForm()">

        <!-- Dividiremos en pasos el registro, para no abrumar al usuario -->
        <ng-container [ngSwitch]="step">

            <!-- Paso 1: Nombre, Apellido, Estado -->
            <ng-container *ngSwitchCase="0">

                <!-- Nombre -->
                <div class="form-group">
                    <label for="nombre">Nombre(s)</label>
                    <input type="text" formControlName="nombre" id="nombre" (keyup)="keyUp('nombre')"
                        class="form-control mb-2" autocomplete="off" [class.is-invalid]="!nombre.valid && nombreEditado"
                        [class.is-valid]="nombre.valid && nombreEditado" placeholder="Escribe tu nombre aquí" required>
                </div>

                <!-- Apellido -->
                <div class="form-group">
                    <label for="apellido">Apellido(s)</label>
                    <input type="text" formControlName="apellido" id="apellido" (keyup)="keyUp('apellido')"
                        class="form-control mb-2" autocomplete="off"
                        [class.is-invalid]="!apellido.valid && apellidoEditado"
                        [class.is-valid]="apellido.valid && apellidoEditado" placeholder="Escribe tu nombre aquí"
                        required>
                </div>

                <!-- Estado -->
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select name="estado" id="estado" formControlName="estado" class="form-control mb-3" required>
                        <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
                    </select>
                </div>

            </ng-container>

            <!-- Paso 2: fecha de nacimiento, genero, nombre de usuario, tipo de usuario -->
            <ng-container *ngSwitchCase="1">

                <!-- Fecha de Nacimiento -->
                <div class="form-group">
                    <label for="fecha">Fecha de Nacimiento</label>
                    <input type="date" formControlName="fecha" id="fecha" class="form-control mb-2" max="2008-01-01"
                        min="1930-01-01" required>
                </div>

                <!-- Género -->
                <div class="form-group">

                    <label>Género</label>

                    <div class="form-check">
                        <input formControlName="genero" class="form-check-input" type="radio" name="genero"
                            id="masculino" value="m" required>
                        <label class="form-check-label" for="masculino">
                            Masculino
                        </label>
                    </div>

                    <div class="form-check">
                        <input formControlName="genero" class="form-check-input" type="radio" name="genero"
                            id="femenino" value="f" required>
                        <label class="form-check-label" for="femenino">
                            Femenino
                        </label>
                    </div>

                </div>

                <!-- Nombre de usuario -->
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" formControlName="username" id="username" (keyup)="keyUp('username')"
                        class="form-control mb-2" autocomplete="off"
                        [class.is-invalid]="(!username.valid && usernameEditado) || errorUsername"
                        [class.is-valid]="username.valid && usernameEditado && !errorUsername"
                        placeholder="Escribe tu nombre de usuario aquí" required>
                    <small class="form-text text-danger">{{errorUsername}}</small>
                    <small class="form-text text-muted">
                        Tu nombre de usuario debe de tener al menos 4 caractéres y no más de 15 caractéres
                    </small>
                </div>

                <!-- Tipo de usuario -->
                <div class="form-group">

                    <label>Tipo de usuario</label>

                    <div class="form-check">
                        <input formControlName="tipo" class="form-check-input" type="radio" name="tipo" id="client"
                            value="c" required>
                        <label class="form-check-label" for="client">
                            Cliente
                        </label>
                    </div>

                    <div class="form-check">
                        <input formControlName="tipo" class="form-check-input" type="radio" name="tipo" id="service"
                            value="s" required>
                        <label class="form-check-label" for="service">
                            Trabajador
                        </label>
                    </div>

                </div>

            </ng-container>

            <!-- Paso 3: telefono -->
            <ng-container *ngSwitchCase="2">

                <p>Por último, ingresa tu teléfono. Este te servira para crear tu cuenta mediante SMS.</p>

                <!-- Número de teléfono -->
                <div class="form-group">
                    <label for="telefono">Teléfono (10 dígitos)</label>
                    <input type="text" formControlName="telefono" id="telefono" (keyup)="keyUp('telefono')"
                        maxlength="10" class="form-control mb-2" autocomplete="off"
                        [class.is-invalid]="(!telefono.valid && telefonoEditado) || errorTelefono"
                        [class.is-valid]="telefono.valid && telefonoEditado && !errorTelefono"
                        placeholder="Escribe tu número de teléfono aquí" required>
                    <small class="form-text text-danger">{{errorTelefono}}</small>
                    <small class="form-text text-muted">
                        Recibiras un SMS con un código único, úsalo para registrarte.
                    </small>
                </div>

                <!-- ReCaptcha -->
                <div class="text-center mb-2">
                    <div id="recaptcha-container" class="d-inline-block"></div>
                </div>

            </ng-container>

            <!-- Paso 4: confirmar telefono SMS -->
            <ng-container *ngSwitchCase="3">

                <p>Un código fue te fue enviado por SMS, ingresalo en el siguiente campo.</p>

                <!-- Formulario para confirmar SMS -->
                <form [formGroup]="codeForm" (ngSubmit)="submitCodeForm()" id="codeForm">

                    <!-- SMS -->
                    <div class="form-group">
                        <label for="code">Código SMS</label>
                        <input type="text" formControlName="code" id="code" (keyup)="keyUp('code')" maxlength="6"
                            class="form-control mb-2" autocomplete="off"
                            [class.is-invalid]="!code.valid && codeEditado || errorSMS"
                            [class.is-valid]="code.valid && codeEditado" placeholder="Escribe tu código aquí" required>
                        <span class="text-danger">{{errorSMS}}</span>
                    </div>

                </form>

            </ng-container>

            <!-- Botones de siguiente y anterior -->
            <div class="row">

                <!-- Anterior -->
                <div class="col" *ngIf="step > 0" (click)="cambiarPaso(false)">
                    <button type="button" class="btn btn-secondary btn-block">
                        Anterior
                    </button>
                </div>

                <!-- Siguiente -->
                <div class="col" *ngIf="step < 2">
                    <button type="button" class="btn btn-success btn-block" (click)="cambiarPaso(true)"
                        [disabled]="!signUpFormDisabled">
                        Siguiente
                    </button>
                </div>

                <!-- Confirmar numero -->
                <div class="col" *ngIf="step == 2">
                    <button class="btn btn-success btn-block" type="submit" id="submit-button" disabled>
                        Enviar SMS
                    </button>
                </div>

                <!-- Confirmar codigo -->
                <div class="col" *ngIf="step == 3">
                    <button class="btn btn-success btn-block" type="submit" id="submit-button" form="codeForm"
                        [disabled]="!signUpFormDisabled">
                        Enviar
                    </button>
                </div>

            </div>

            <!-- {{ signUpForm.value | json }} -->

        </ng-container>

        <!-- Explicación de diferencia entre cliente y trabajador -->
        <small class="form-text text-muted mt-2" *ngIf="step==1">
            <strong>Cliente:</strong> este tipo de usuario es para aquellos usuarios que solo quieran contratar
            servicios
            usando la aplicación ChambApp.
            <br><br>
            <strong>Trabajador:</strong> este tipo de usuario es para aquellos usuarios que quieran usar la aplicación
            ChambApp para publicar su servicio; información adicional será requerida para ingresar los datos
            de su servicio.
            <br><br>
            <strong>NOTA</strong> los usuarios de tipo trabajador pueden contratar servicios desde su propia cuenta
            (no es necesario tener una cuenta de cliente y otra cuenta de trabajador).
        </small>

    </form>

</div>

<!-- Spinner de cuando carga la pantalla -->
<ng-template #cargando>
    <div class="container mt-5 pt-3 pt-lg-4">
        <div class="row d-flex justify-content-center">
            <div class="spinner-grow text-info my-3" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col text-center mt-3">
                <h3>Guardando información</h3>
            </div>
        </div>
    </div>
</ng-template>